<!DOCTYPE html>
<html>
<head>
    <title>Home Made Cake</title>
    <style>
    .column{
    float: left;
    width: 23%;
    height: 500px;
    margin: 1%;
    max-width: 100%;
    overflow: hidden;}
    </style>
</head>
<body style="background:#ECEDE8">
    <div>
        <p style="color:blue; font-size:36px;" align=center>Home Made Cake</p>
    </div> 
    {% for cake in cakes %}
    <div class="column">
        <h1 style="color:red">{{ cake.title}}</h1>
        <p style="color:blue">{{ cake.image|linebreaksbr }}</p>
        <img src="http://i4.fnp.com/images/pr/l/special-delicious-celebration-cake-1kg_1.jpg">
    </div>
    {% endfor %}
</body>
</html>